<div class="content">
  <div class="plan_name">
    <%= @plan.name %>
  <div class="places">
    <% @places.each do |place| %>
      <div class="place">
        <div class="place_name">
          <%= place.name %>
        </div>
        <div class="place_photo">
          <%= image_tag place.image %>
        </div>
        <div class="place_comment">
          ここにコメント
        </div>
      </div>
      <div class="sankaku"></div>
    <% end %>
  </div>
</div>
